*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
p{
    color: rgb(94, 93, 93);   
}

h2{
    color: rgb(94, 93, 93); 
}

.btn-primary{
    background-color: #4CAF4F;
    border-radius: 4px;
    color: #F5F7FA;
    padding: 10px 13px;
    cursor: pointer;
    margin-top: 40px;
}

:root{
    --color-neutral-black: #263238;
    --color-neutral-d_grey: #263238;;
    --color-neutral-grey: #717171;
    --color-neutral-L_grey: #89939E;
    --color-neutral-Grey-blue: #ABBED1;
    --color-neutral-silver: #F5F7FA;
    --color-neutral-white: #fff;
     --color-primary: #4CAF4F;
    --color-secondary: #263238;
   
}